.items {
    padding-left: 15px;
}

.items_h4 {
    margin-top: 15px;
}

.items_p {
    color: #E5E5E5;
}

.items:hover {
    background-color: #919191;
    border-radius: 5px;
}

.items_close {
    margin-left: auto;
    background-color: #f9c10a;
    z-index: 4;
}

.item_area_btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.item_area_btn:focus {
    box-shadow: none;
}

.items_hr {

    color: #919191;
    
}